PORT=3001
FRONTEND_ORIGIN=http://localhost:3000
DTW_API_URL=http://localhost:8000

MARKET_DATA_PROVIDER=fake

ALPACA_MARKET_DATA_BASE_URL=https://data.alpaca.markets
ALPACA_API_KEY=
ALPACA_API_SECRET=
